# =========================
# CORE
# =========================
PYTHONPATH=/opt/pipelines
AIRFLOW_UID=50000

# =========================
# WORKER CONFIG
# =========================
CELERY_HOSTNAME=<WORKER_NAME>
QUEUES=default

# =========================
# AIRFLOW CORE
# =========================
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__FERNET_KEY=<GENERATE_FERNET_KEY>
AIRFLOW__CORE__DAGS_FOLDER=/opt/pipelines/dags
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager

# =========================
# DATABASE
# =========================
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://<USER>:<PASSWORD>@<DB_HOST>/<DB_NAME>

# =========================
# CELERY
# =========================
AIRFLOW__CELERY__BROKER_URL=amqp://<USER>:<PASSWORD>@<RABBITMQ_HOST>:5672/<VHOST>
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql+psycopg2://<USER>:<PASSWORD>@<DB_HOST>/<DB_NAME>

# =========================
# API / WEB
# =========================
AIRFLOW__API__BASE_URL=https://<YOUR_DOMAIN>
AIRFLOW__API__INSTANCE_NAME=Airflow Data Platform
AIRFLOW__API__SECRET_KEY=<SECRET_KEY>
AIRFLOW__API__SERVER_TYPE=gunicorn

AIRFLOW__API_AUTH__JWT_SECRET=<JWT_SECRET>
AIRFLOW__API_AUTH__JWT_ISSUER=https://<YOUR_DOMAIN>/execution/

AIRFLOW__CORE__EXECUTION_API_SERVER_URL=https://<YOUR_DOMAIN>/execution/

# =========================
# SCHEDULER
# =========================
AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK=true
AIRFLOW__DAG_PROCESSOR__REFRESH_INTERVAL=300

# =========================
# LOGGING (S3 opcional)
# =========================
AIRFLOW__LOGGING__REMOTE_LOGGING=false
AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER=s3://<BUCKET>/logs
AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID=my_s3_conn
AIRFLOW__LOGGING__ENCRYPT_S3_LOGS=false

# =========================
# CLI / INIT
# =========================
_AIRFLOW_DB_MIGRATE=true
_AIRFLOW_WWW_USER_CREATE=true
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# =========================
# LOGGING
# =========================
AIRFLOW__LOGGING__REMOTE_LOGGING=false
AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER=s3://<BUCKET>/logs
AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID=my_s3_conn
AIRFLOW__LOGGING__ENCRYPT_S3_LOGS=false

# =========================
# EXTRA (solo si necesitas)
# =========================
EXTRA_REQUIREMENTS=